:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1f1f1f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
}

body {
  min-width: 320px;
  background: #1f1f1f;
  color: white;
}

/* root app full screen */
#root {
  width: 100%;
  min-height: 100vh;
}

/* links */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}

a:hover {
  color: #535bf2;
}

/* headings */
h1 {
  font-size: 3rem;
  line-height: 1.1;
  text-align: center;
}

/* buttons */
button {
  border-radius: 8px;
  border: none;
  padding: 0.7em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #00b894;
  color: white;
  cursor: pointer;
  transition: 0.25s;
}

button:hover {
  opacity: 0.9;
}

input,
textarea {
  font-family: inherit;
}